<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>j2ee2023</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet2</display-name>
    <servlet-name>RegistrationServlet2</servlet-name>
    <servlet-class>com.controller.RegistrationServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet2</servlet-name>
    <url-pattern>/RegistrationServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputCookieServlet</display-name>
    <servlet-name>InputCookieServlet</servlet-name>
    <servlet-class>com.controller.InputCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputCookieServlet</servlet-name>
    <url-pattern>/InputCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeaderServlet</display-name>
    <servlet-name>RequestHeaderServlet</servlet-name>
    <servlet-class>com.controller.RequestHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeaderServlet</servlet-name>
    <url-pattern>/RequestHeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLoginServlet</display-name>
    <servlet-name>CLoginServlet</servlet-name>
    <servlet-class>com.controller.CLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoginServlet</servlet-name>
    <url-pattern>/CLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLogoutServlet</display-name>
    <servlet-name>CLogoutServlet</servlet-name>
    <servlet-class>com.controller.CLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLogoutServlet</servlet-name>
    <url-pattern>/CLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoyalLoginServlet</display-name>
    <servlet-name>RoyalLoginServlet</servlet-name>
    <servlet-class>com.controller.RoyalLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoyalLoginServlet</servlet-name>
    <url-pattern>/RoyalLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLoinServlet</display-name>
    <servlet-name>CLoinServlet</servlet-name>
    <servlet-class>com.controller.CLoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoinServlet</servlet-name>
    <url-pattern>/CLoinServlet</url-pattern>
  </servlet-mapping>
</web-app>